.sidebar_container{
    height: 100vh;
}
.navbar{
    margin-top: 5px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #645CBB;

}
.sidebar_container,.sidebar_links{
    flex-direction: column !important;
    align-items: baseline !important;
}
.topbar{
    background-color: rgb(36, 15, 15);
    padding: 20px;
    border-radius: 12px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.topbar_container h5{
  color: white;
}
.main_body{
    background-color: white;
    margin: 5px;
    border-radius: 12px;
   height: 100vh;
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 1px solid rgb(218, 212, 212);

}

.menu {
    margin-top: 50px;
  }
  .menu-item {
    margin-top: 30px;
  }
  .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
  }
  .active {
    background-color: white;
    padding: 10px;
    width: 12rem;
    border-radius: 7px;
    color: black;
  }
  .active a,
  .active i {
    color: rgb(51, 1, 1);
  }
  .topbar_container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-block: 5px;
    gap: 26px;
}
.notification_header {
  height: 50px;
  /* border-bottom: 1px solid #b8b1b1; */
}
.notification_header h2{
  color: #645CBB;
}