h3{font-size: 26px;}
.sidebar_container{
    height: 100vh;
}
.navbar{
    margin-top: 5px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #645CBB;

}
.sidebar_container,.sidebar_links{
    flex-direction: column !important;
    align-items: baseline !important;
}
.topbar{
    background-color: rgb(36, 15, 15);
    padding: 20px;
    border-radius: 12px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.topbar_container h5{
  color: white;
}
.main_body{
    background-color: white;
    margin: 5px;
    border-radius: 12px;
   height: 100vh;
   padding: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   border: 1px solid rgb(218, 212, 212);

}

.menu {
    margin-top: 50px;
  }
  .menu-item {
    margin-top: 30px;
    color: white;
  }
  .menu-item a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  .menu-item i {
    font-size: 1.2rem;
    margin: 0 15px;
  }
  .active {
    background-color: white;
    padding: 9px;
    width: 18rem;
    border-radius: 7px;
    color: black;
  }
  .active a,
  .active i {
    color: rgb(51, 1, 1);
  }
  .topbar_container {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-block: 5px;
    gap: 26px;
}
.notification_header {
  height: 50px;
  /* border-bottom: 1px solid #b8b1b1; */
}
.notification_header h2{
  color: #645CBB;
}
.doctor_list_wrapper{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: 20px 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  cursor: pointer;
}
.docto_list_item {
  display: flex;
  justify-content: flex-start;
  gap: 2rem;
}
.dp_image img{
  width: 40px;
  height: 40px;
}
.doctor_list_header{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin: 12px 0;
}
.doctor_list_header h3{
  align-items: center;
  display: flex;
  margin-top: 14px;
  color: #645CBB;
}
.doctor_list_wrapper .doctor_list_body h5{
  color: #645CBB;
}
.doctor_list_wrapper:hover{
  background-color: #645CBB;
  color: white;
  transition: all ease-in 0.5s;
}
.doctor_list_wrapper:hover h3,.doctor_list_wrapper:hover h5{
  color: white;
}
/* .doctor_list_wrapper:hover h5{
  color: white;
} */
@media(max-width:1366.99px){
  h3 {
    font-size: 1.45rem;
}
 h5 {
    font-size: 1.05rem;
}
p{
  font-size: 14px;
}
  .active {
    width: 14rem;
}
}
@media(max-width:1024.99px){
  h3 {
    font-size: 1rem;
}
 h5 {
    font-size: 0.8rem;
}
p{
  font-size: 13px;
}
  .active {
    width: 9rem;
    padding: 4px;
}
.menu-item a {
  font-size: 0.9rem;
}
}
@media(max-width:767.99px){
  .sidebar_container{
    height: unset;
        width: 100%;
        display: contents;
}

.sidebar_container, .sidebar_links {
  align-items: center !important;
}
}
@media(max-width:540.99px){
  .doctor_row{
    row-gap: 20px;
  }
}
@media(max-width:480.99px){
  .ant-table-wrapper{
    overflow-x: scroll;
  }
}