.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  border: 1px solid gray;
  padding: 30px;
  border-radius: 16px;
  width: 30%;
}
.register-form input{
  padding: 10px;
}
.register-form .form_footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.register-form .form_footer .already_login{
 text-decoration: none;
}
.auth_btn{
  background-color: #645CBB;
  color: white;
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}
.auth_btn:hover{
  background-color: black;
  color: white;
  transition: all ease-in 0.5s;
}
@media(max-width:992.99px){
  .register-form {
    width: 60%;
}
}
@media(max-width:540.99px){
  .register-form {
    width: 80%;
}
}
@media(max-width:480.99px){
  .register-form {
    width: 94%;
}
.register-form input {
  padding: 5px;
  height: 35px;
}
}