.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  border: 1px solid gray;
  padding: 30px;
  border-radius: 16px;
  width: 30%;
}
.register-form input{
  padding: 10px;
}
.register-form .form_footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.register-form .form_footer .already_login{
 text-decoration: none;
}